

h1 {
  background-color: blue;
}

h2 {
  background-color: green;
}

h4 {
  background-color: yellow;
}

h5 {
  background-color: orange;
}

p {
  background-color: red;
}

button {
  background-color: purple;
}

#footer {
  background-color: teal;
  display: flex;
  justify-content: center;
}

a {
  margin: 0 11px 0 0;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}




.form {
  padding: 16px;
}

.lnk, .dsc, .usr, .dte {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.submit-post {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}