

/* #footer {
  background-color: teal;
  display: flex;
  justify-content: center;
}

a {
  margin: 0 11px 0 0;
}



.lnk, .dsc, .usr, .dte {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.submit-post {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.header {
  
}

.container {
  display: flex;
  width: 900px;
  max-width: 95%;
  padding: 20px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.header .countainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container button {
  justify-content: right;
}


.create-post {
  border: 3px solid black;
  display: flex;
  flex-direction: column;

  padding: 0 0 10px 0;
  width: 95%;
}

.create-post form {
  background-color: slategray;
  border: 3px solid black;
  color: white;
  width: 50%;
} */

* {
  background-color: navy;
}

.header {
  align-items: flex-start;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  padding: 2vh;
}

.header h1 {
  color: white;
  background-color: gray;
}

.header p {
  background-color: gray;
  color: rgb(82, 65, 189);
  margin: -2.5vh 4vh 0;
}

.container h2 {
 color: white;
 padding: 7vh 0 3vh;
}



.posts {
  border: 2px solid black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 50%;
}

 a {
  color: white;
  display: flex;
  text-decoration: none;
}

a:hover {
  color: orangered;
  text-decoration: underline;
}

.create-post {
  color: white;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 40%;
  padding: -3px 0 px;
}

.lnk, .dsc, .usr, .dte {
  background-color: slategray;
  color: rgb(38, 22, 143);
  font-weight: bold;
  margin: 1vh;
}

button {
  background-color: rgb(194, 101, 101);
  color: white;
  margin: 3px 0 9px;
  padding: 4px;
}

#footer {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  left: 0;
  margin: auto;
  position: absolute;
  width: 80%;
}

Link {
  color: white;
}

.NavBar ul {
  display: flex;
  justify-content: space-around;
}

.contact-information {
  color: white;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 5px;
}

@media only screen and (max-width: 780px) {
  .NavBar a {
      color: orangered;
  }

  .post-display a {
    font-size: 60%;
  }

  .post-display p {
    font-size: 75%;
  }

  #footer a {
    font-size: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  .NavBar a {
      color: orangered;
  }

  .post-display a {
    font-size: 60%;
  }

  .post-display p {
    font-size: 75%;
  }

  #footer a {
    font-size: 70%;
  }
}